# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

### IntelliJ IDEA ###
.idea/*
*.iws
*.iml
*.ipr
/out/

### VS Code ###
.vscode/

# Spring
config

# JEnv
.java-version

# OS X
.DS_Store
/api/out/**/*
/app/out/**/*

# AxonIQ
app/axoniq.license
